<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>630766454092-dm684v9tv5ehmarcqr0iu7553r01kh2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630766454092-dm684v9tv5ehmarcqr0iu7553r01kh2j</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ3sTRAsVuorW5oVidWvvF5_pvKQUWteM</string>
	<key>GCM_SENDER_ID</key>
	<string>630766454092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suddendev.pobbles</string>
	<key>PROJECT_ID</key>
	<string>pobbles-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>pobbles-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630766454092:ios:1ac8a112a0d5b641</string>
	<key>DATABASE_URL</key>
	<string>https://pobbles-dev.firebaseio.com</string>
</dict>
</plist>